body
{
    padding: 0em;
    margin: 0em;
}

a
{
    text-decoration: none;
    color: white;
}

li
{
    list-style: none;
}

/* Navigation CSS */

.navigation
{
    position: relative;
    display: flex;
    justify-content: space-between;

    background-color: #99cc33;
}

.navigation i
{
    margin: 5px;
    color: white;
}

.navigation-list-menu
{
    display: flex;
    font-size: 1.6em;
    margin-right: 20px;
}

.navigation-list-menu a:hover
{
    color: rgb(0, 0, 0);
}

.navigation-logo-text
{
    margin-left: 0px;
    display: flex;
}

.navigation-logo-text h3
{
    margin-left: 5px;
    color: white;
    font-size: 1.8em;
}


.navigation-logo-text i
{
    position: relative;
    top: 15px;
    font-size: 40px;
}

footer
{
    background-color: #6c757d;
    padding: 8px 5px;
    text-align: center;

    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}


.about-section-image
{
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
}

.about-section
{
    background-image: url("../html-folder/about-section-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
}


.about-section p
{
    font-size: 1.8em;
    text-align: center;
    margin: 10px;

    color: white;
    line-height: 95px;
}

.products-list
{
    text-align: center;
    position: relative;
}

.products-list ul
{
    display: inline-flex;
}

.products-list img
{
    width: 500px;
    height: 200px;
    object-fit: cover;
    margin-left: 20px;

    filter: brightness(40%);
}

.products-list img:hover
{
    filter: brightness(75%);
    width: 550px;
    height: 200px;
}

.products
{
    position: relative;
    margin-top: 35px;
}

.product-list-item
{
    position: relative;
    color: rgb(153, 255, 0);
    font-size: 40px;
}

.product-list-item h2
{
    position: relative;
    bottom: 190px;
}


.shop-products-wrapper
{
    position: relative;
    bottom: 150px;
    margin: auto;
    width: 75%;
}

.shop-products-wrapper ul
{
    position: relative;
    display: flex;
}


.shop-item
{
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 60px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}


.shop-item i
{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.shop-item p
{
    text-align: center;
    font-size: 2em;
}

.shop-item img
{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid black;
}

.item-price
{
    color: green;
    text-transform: uppercase;
}

